body {
  font-family: "Montserrat", "Arial", sans-serif;
  background: #181e34;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.header {
  padding: 30px 0px 36px;
}

.conteiner {
  max-width: 930px;
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
}

.header-inner {
  display: flex;
  align-items: center;
}

.header-nav {
  margin-left: auto;
  padding: 30px;
}

.header-list {
  display: flex;
}

.header-item {
  margin-right: 30px;
}

.header-button {
  padding: 14px 30px;
  border-radius: 100px;
  background: #fff;
  color: #2766ae;
  font-weight: 500;
}

/* ======================================================== */

.hero {
  background: url("../img/hero-bg.jpg") 10% 50% / cover no-repeat;
  padding: 120px 0px;
}

.hero-title {
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 60px;
  text-transform: uppercase;
  line-height: 49px;
}

.hero-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-text {
  max-width: 436px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.hero-text span {
  font-weight: 700;
  text-transform: uppercase;
  color: #01a2cb;
}

.paragraph {
  margin-bottom: 15px;
}

.hero-buttons {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  max-width: 320px;
  width: 100%;
}

.hero-button-one,
.hero-button-two {
  display: flex;
  border-radius: 100px;
  padding: 18px 30px;
  justify-content: center;
}

.hero-button-one {
  background: linear-gradient(180deg, #00a4cc 0%, #2766ae 100%);
}

.margin-bottom {
  margin-bottom: 10px;
}

.hero-button-two {
  background: linear-gradient(129deg, #00a4cc 0%, #2766ae 100%);
}

.hero-button-one img,
.hero-button-two img {
  margin-left: 4px;
}

/* ======================================================= */

.cards {
  padding: 120px 0;
}

.cards-title {
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 15px;
  text-transform: uppercase;
  line-height: 49px;
}

.cards-text {
  max-width: 513px;
  text-align: center;
  margin: 0 auto 60px;
}

.cards-flex {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -28px;
  justify-content: space-between;
}

.cards-flex-item {
  display: block;
  padding: 28px;
  border-radius: 16px;
  border: 2px solid #176bae;
  background: #197cb8;
  box-shadow: 4px 4px 13px 0px rgba(5, 13, 41, 0.76);
  max-width: 204px;
  margin-bottom: 28px;
}

.cards-flex-title {
  font-size: 22px;
  font-weight: 600;
  line-height: 27px;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;
}

.cards-flex-text {
  text-align: center;
}

.cards-button {
  display: block;
  border-radius: 100px;
  padding: 18px 30px;
  background: linear-gradient(180deg, #00a4cc 0%, #2766ae 100%);
  margin: 48px auto 0;
  max-width: 436px;
  text-align: center;
  font-weight: 500;
}

/* ============================================ */

.footer {
  border-top: 1px solid #323952;
  padding: 60px 0;
}

.footer-inner {
  display: flex;
}

.footer-desc {
  margin-right: auto;
  max-width: 267px;
}

.footer-desc a {
  display: inline-block;
  margin-bottom: 15px;
}

.footer-col {
  max-width: 204px;
  width: 100%;
}

.footer-col-margin {
  margin-right: 28px;
}

.footer-title {
  font-size: 22px;
  font-weight: 600;
  line-height: 27px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-item {
  margin-bottom: 10px;
}
