body {
    font-size: 40px;
}

* {
    box-sizing: border-box;
}

.block, .inline {
    background: rgb(255, 176, 176);
}
.block { 
    padding: 50px;
}


/* ======================================= */

.block-1 {
    margin: 20px 10px 50px;
}

.inline {
    margin: 50px 100px;
}