div {
    width: 200px;
    height: 200px;
}

/* Приоритет 1 */
div {
    background: #000;
}

/* Приоритет 10.000 */
.block{
    background: rebeccapurple !important;
}

/* Приоритет 10 */
.block-2 {
    background: #ff0000;
}

/* Приоритет 100 */
#block {
    background: #056d8d;
}

/* Приоритет 1+10=11 */
div.block {
    background: #1c0277;
}

